@using VT.Model.ViewModel;
@model LocationDetailViewModel
@{
    ViewBag.Title = "Chi tiết";
}

<div class="container">
    <div class="row">
        <div class="page-detail-left">
            <div class="box-menu-horizontal">
                <ul>
                    <li><a href="#">Sang quán cafe »</a></li>
                    <li><a href="#">Nhà hàng »</a></li>
                    <li><a href="#">Quán ăn »</a></li>
                    <li><a href="#">SANG QUÁN ĂN MIỆT VƯỜN BÌNH QUỚI</a></li>
                </ul>
            </div>
            <div class="Wrap-box-content">
                <div class="box-img-top-in-detail">
                    <img class="img-show-main" src="@Model.LstMedia.SingleOrDefault(x=>x.Active).UrlFull" />
                </div>
                <div class="box-img-item-in-detail">
                    @foreach (var item in Model.LstMedia.OrderBy(x => x.Active))
                    {
                        <div class="item-thumb-img-in-detail">
                            <img class="click-change-img" src="@item.Urlthumbnail" data-full-url="@item.UrlFull" title="@item.ItemName" alt="@item.ItemName" />
                        </div>
                    }
                </div>
            </div>
            <div class="wrap-box-info-location">
                <div class="wrap-box-info-location-title">
                    <div class="location-title">
                        <a href="#">SANG QUÁN ĂN MẶT TIỀN ĐƯỜNG BÌNH QUỚI</a>
                        <div class="location-info-size">
                            @Model.Post.TypeName - Mặt tiền: @(Model.Post.Horizontal)m - Chiều dài: @(Model.Post.Vertical)m @(Model.Post.WardName + ", " + Model.Post.DistrictName + ", " + Model.Post.ProvinceName)
                        </div>
                        <div class="location-infor-price-and-social">
                            <div class="location-infor-left-price">
                                <span>
                                    @Model.Post.Price @Model.Post.UnitName
                                </span>
                            </div>
                            <div class="location-infor-social">
                                <div class="location-infor-social-item">
                                    <!-- Đặt thẻ này vào nơi bạn muốn nút chia sẻ kết xuất. -->
                                    <div class="g-plus" data-action="share" data-annotation="bubble" data-height="24"></div>
                                </div>
                                <div class="location-infor-social-item">
                                    <div class="fb-like" data-href="https://www.facebook.com/giaitri.blogtamsu.vn/videos/vb.128286377233579/1406479442747593/?type=2&amp;theater&amp;notif_t=live_video&amp;notif_id=1471842020943021" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                                </div>
                                <div class="location-infor-social-item">
                                    <i class="fa fa-eye"></i> @Model.Post.CountView
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrap-info-navigation">
                Bạn đang xem tin <a href="#">@Model.Post.TypeName</a> với tiêu đề
                <a href="@Url.Action("Details","Location",new { id = Model.Post.Id, FriendlyUrl = Model.Post.FriendlyUrl })">@Model.Post.Title</a>
                trên <a href="/">123sangnhuong.com.vn</a>
            </div>
            <div class="wrap-infor-contact-location">
                <span>
                    <a href="tel:01684553333">@Model.Post.NameContact      @Model.Post.PhoneContact</a>
                </span>
                <span>
                    Vui lòng liên hệ
                </span>
            </div>
            <div class="wrap-box-content-main">
                <div class="wrap-box-content-main-title">
                    <a href="#">@Model.Post.Title</a>
                </div>
                <div class="wrap-box-content-main-text">
                    @Model.Post.Description
                </div>
                <div class="wrap-box-content-main-contract">
                    Hợp đồng còn hiệu lực: @Model.Post.Exprires tháng
                </div>
            </div>
            <div class="box-item-relationship">
                <div class="ST-a-l-title">
                    <span>Tin cùng danh mục</span>
                </div>
                <div class="ST-a-l-arrow-down">
                    <i class="fa fa-caret-down fa-2x"></i>
                </div>
                <div class="SM-article-middle-left-content">
                    @for (int i = 0; i < 6; i++)
                    {
                        <a href="#">
                            <div class="SM-content-item-in-article">
                                <div class="SM-c-i-in-a-img-box">
                                    <div class="SM-c-i-in-a-img" style="background:url('/Content/Images/item.jpg')"></div>
                                </div>
                                <div class="SM-c-i-in-a-text-box">
                                    <span>
                                        Cần sang gấp quán Cơm Tắm Minh Nhật trên đường Nguyễn Tiểu La Quận 10
                                    </span>
                                </div>
                                <div class="SM-c-i-in-a-box-price">
                                    <b><i class="fa fa-bullhorn"></i>100 triệu</b>
                                    <b><i class="fa fa-fort-awesome"></i> Quận 10</b>
                                </div>
                            </div>
                        </a>
                    }
                </div>
            </div>
        </div>
        <article class="SM-article-middle-right item-show-vip-in-detail">
            @for (int i = 0; i < 6; i++)
            {
                <a href="#">
                    <div class="item-vip-top10">
                        <div class="item-vip-top10-box-img">
                            <div class="item-vip-top10-box-img-data" style="background:url('/Content/Images/item.jpg') no-repeat">
                            </div>
                        </div>
                        <div class="item-vip-top10-box-text">
                            <span>Cần sang nhà hàng ẩm thực Bắc - đường Tú Xương, trung tâm Quận 3</span>
                        </div>
                    </div>
                </a>
            }
        </article>
    </div>
</div>

<div id="fb-root"></div>
@section scripts{
    <script src="~/Scripts/Client/Location-Details.js"></script>
    <!-- Đặt thẻ này vào phần đầu hoặc ngay trước thẻ đóng phần nội dung của bạn. -->
    <!-- Đặt thẻ này vào phần đầu hoặc ngay trước thẻ đóng phần nội dung của bạn. -->
    <script src="https://apis.google.com/js/platform.js" async defer>
        { lang: 'vi' }
    </script>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.7&appId=1159192317453802";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
}