@using VT.Model.ViewModel;
@model HomeIndexViewModel
@{
    ViewBag.Title = "Trang chủ";
}

<section class="container">
    <div class="row">
        <article class="ST-article-left">
            <div class="ST-a-l-title">
                <span>Danh mục sản phẩm</span>
            </div>
            <div class="ST-a-l-arrow-down">
                <i class="fa fa-caret-down fa-2x"></i>
            </div>
            <div class="ST-a-l-menu-top-left">
                <ul>
                    @foreach (var item in Model.Menu)
                    {
                        <li>
                            <a href="#">
                                <em class="fa fa-caret-right"></em>
                                <span>@item.Name</span>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </article>
        <article class="ST-article-right">
            <div id="example1" class="slider-pro">
                <div class="sp-slides">
                    <div class="sp-slide">
                        <img class="sp-image" src="/Content/css-slider/images/blank.gif"
                             data-src="http://bqworks.com/slider-pro/images/image1_medium.jpg"
                             data-retina="http://bqworks.com/slider-pro/images/image1_large.jpg" />

                        <p class="sp-layer sp-white sp-padding"
                           data-horizontal="50" data-vertical="50"
                           data-show-transition="left" data-hide-transition="up" data-show-delay="400" data-hide-delay="200">
                            Lorem ipsum
                        </p>

                        <p class="sp-layer sp-black sp-padding hide-small-screen"
                           data-horizontal="180" data-vertical="50"
                           data-show-transition="left" data-hide-transition="up" data-show-delay="600" data-hide-delay="100">
                            dolor sit amet
                        </p>

                        <p class="sp-layer sp-white sp-padding hide-medium-screen"
                           data-horizontal="315" data-vertical="50"
                           data-show-transition="left" data-hide-transition="up" data-show-delay="800">
                            consectetur adipisicing elit.
                        </p>
                    </div>

                    <div class="sp-slide">
                        <img class="sp-image" src="/Content/css-slider/images/blank.gif"
                             data-src="http://bqworks.com/slider-pro/images/image2_medium.jpg"
                             data-retina="http://bqworks.com/slider-pro/images/image2_large.jpg" />

                        <h3 class="sp-layer sp-black sp-padding"
                            data-horizontal="40" data-vertical="10%"
                            data-show-transition="left" data-hide-transition="left">
                            Lorem ipsum dolor sit amet
                        </h3>

                        <p class="sp-layer sp-white sp-padding hide-medium-screen"
                           data-horizontal="40" data-vertical="22%"
                           data-show-transition="left" data-show-delay="200" data-hide-transition="left" data-hide-delay="200">
                            consectetur adipisicing elit
                        </p>

                        <p class="sp-layer sp-black sp-padding hide-small-screen"
                           data-horizontal="40" data-vertical="34%" data-width="350"
                           data-show-transition="left" data-show-delay="400" data-hide-transition="left" data-hide-delay="500">
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </div>

                    <div class="sp-slide">
                        <img class="sp-image" src="/Content/css-slider/images/blank.gif"
                             data-src="http://bqworks.com/slider-pro/images/image3_medium.jpg"
                             data-retina="http://bqworks.com/slider-pro/images/image3_large.jpg" />

                        <p class="sp-layer sp-white sp-padding"
                           data-position="centerCenter" data-vertical="-50"
                           data-show-transition="right" data-hide-transition="left" data-show-delay="500">
                            Lorem ipsum dolor sit amet
                        </p>

                        <p class="sp-layer sp-black sp-padding hide-small-screen"
                           data-position="centerCenter" data-vertical="50"
                           data-show-transition="left" data-show-delay="700" data-hide-transition="right" data-hide-delay="200">
                            consectetur adipisicing elit
                        </p>
                    </div>

                    <div class="sp-slide">
                        <img class="sp-image" src="/Content/css-slider/images/blank.gif"
                             data-src="http://bqworks.com/slider-pro/images/image4_medium.jpg"
                             data-retina="http://bqworks.com/slider-pro/images/image4_large.jpg" />

                        <p class="sp-layer sp-black sp-padding"
                           data-position="bottomLeft"
                           data-show-transition="up" data-hide-transition="down">
                            Lorem ipsum dolor sit amet <span class="hide-small-screen">, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span> <span class="hide-medium-screen">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
                        </p>
                    </div>

                    <div class="sp-slide">
                        <img class="sp-image" src="/Content/css-slider/images/blank.gif"
                             data-src="http://bqworks.com/slider-pro/images/image5_medium.jpg"
                             data-retina="http://bqworks.com/slider-pro/images/image5_large.jpg" />

                        <p class="sp-layer sp-white sp-padding"
                           data-vertical="10" data-horizontal="2%" data-width="96%"
                           data-show-transition="down" data-show-delay="400" data-hide-transition="up">
                            Lorem ipsum dolor sit amet <span class="hide-small-screen">, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span> <span class="hide-medium-screen">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
                        </p>
                    </div>

                    <div class="sp-slide">
                        <img class="sp-image" src="/Content/css-slider/images/blank.gif"
                             data-src="http://bqworks.com/slider-pro/images/image6_medium.jpg"
                             data-retina="http://bqworks.com/slider-pro/images/image6_large.jpg" />

                        <p class="sp-layer sp-white sp-padding"
                           data-horizontal="10" data-vertical="10" data-width="35%">
                            Lorem ipsum dolor sit amet <span class="hide-small-screen">, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span> <span class="hide-medium-screen">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
                        </p>
                    </div>

                    <div class="sp-slide">
                        <img class="sp-image" src="/Content/css-slider/images/blank.gif"
                             data-src="http://bqworks.com/slider-pro/images/image7_medium.jpg"
                             data-retina="http://bqworks.com/slider-pro/images/image7_large.jpg" />

                        <p class="sp-layer sp-black sp-padding"
                           data-position="bottomLeft" data-vertical="10" data-horizontal="2%" data-width="96%"
                           data-show-transition="up" data-show-delay="400" data-hide-transition="down">
                            Lorem ipsum dolor sit amet <span class="hide-small-screen">, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span> <span class="hide-medium-screen">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
                        </p>
                    </div>

                    <div class="sp-slide">
                        <img class="sp-image" src="/Content/css-slider/images/blank.gif"
                             data-src="http://bqworks.com/slider-pro/images/image8_medium.jpg"
                             data-retina="http://bqworks.com/slider-pro/images/image8_large.jpg" />
                    </div>

                    <div class="sp-slide">
                        <img class="sp-image" src="/Content/css-slider/images/blank.gif"
                             data-src="http://bqworks.com/slider-pro/images/image9_medium.jpg"
                             data-retina="http://bqworks.com/slider-pro/images/image9_large.jpg" />

                        <p class="sp-layer sp-black sp-padding"
                           data-position="bottomLeft" data-horizontal="50" data-vertical="100"
                           data-show-transition="down" data-show-delay="500" data-hide-transition="up">
                            Lorem ipsum dolor sit amet
                        </p>

                        <p class="sp-layer sp-white sp-padding hide-small-screen"
                           data-position="bottomLeft" data-horizontal="50" data-vertical="50"
                           data-show-transition="up" data-show-delay="500" data-hide-transition="down">
                            consectetur adipisicing elit <span class="hide-medium-screen">, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                        </p>
                    </div>

                    <div class="sp-slide">
                        <img class="sp-image" src="/Content/css-slider/images/blank.gif"
                             data-src="http://bqworks.com/slider-pro/images/image10_medium.jpg"
                             data-retina="http://bqworks.com/slider-pro/images/image10_large.jpg" />
                    </div>
                </div>

                <div class="sp-thumbnails">
                    <div class="sp-thumbnail">
                        <div class="sp-thumbnail-title">Lorem ipsum</div>
                        <div class="sp-thumbnail-description">Dolor sit amet, consectetur adipiscing elit sed</div>
                    </div>

                    <div class="sp-thumbnail">
                        <div class="sp-thumbnail-title">Do eiusmod</div>
                        <div class="sp-thumbnail-description">Tempor incididunt ut labore et dolore magna aliqua</div>
                    </div>

                    <div class="sp-thumbnail">
                        <div class="sp-thumbnail-title">Ut enim</div>
                        <div class="sp-thumbnail-description">Ad minim veniam, quis nostrud exercitation</div>
                    </div>

                    <div class="sp-thumbnail">
                        <div class="sp-thumbnail-title">Ullamco oris</div>
                        <div class="sp-thumbnail-description">Nisi ut aliquip ex ea commodo consequat</div>
                    </div>

                    <div class="sp-thumbnail">
                        <div class="sp-thumbnail-title">Duis aute</div>
                        <div class="sp-thumbnail-description">Irure dolor in reprehenderit in voluptate velit</div>
                    </div>

                    <div class="sp-thumbnail">
                        <div class="sp-thumbnail-title">Esse cillum</div>
                        <div class="sp-thumbnail-description">Dolore eu fugiat nulla pariatur excepteur</div>
                    </div>

                    <div class="sp-thumbnail">
                        <div class="sp-thumbnail-title">Sint occaecat</div>
                        <div class="sp-thumbnail-description">Cupidatat non proident, sunt in culpa qui officia</div>
                    </div>

                    <div class="sp-thumbnail">
                        <div class="sp-thumbnail-title">Deserunt</div>
                        <div class="sp-thumbnail-description">Mollit anim id est laborum sed ut perspiciatis</div>
                    </div>

                    <div class="sp-thumbnail">
                        <div class="sp-thumbnail-title">Unde omnis</div>
                        <div class="sp-thumbnail-description">Iste natus error sit voluptatem doloremque</div>
                    </div>

                    <div class="sp-thumbnail">
                        <div class="sp-thumbnail-title">Laudantium</div>
                        <div class="sp-thumbnail-description">Totam rem aperiam, eaque ipsa quae ab illo</div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>
<section class="container">
    <div class="row">
        <article class="SM-article-middle-left">
            <div class="ST-a-l-title">
                <span>Tin rao mới nhất - Tin Đặc Biệt</span>
            </div>
            <div class="ST-a-l-arrow-down">
                <i class="fa fa-caret-down fa-2x"></i>
            </div>
            <div class="SM-article-middle-left-content">
                @foreach (var item in Model.TinDacBiet)
                {
                    <a href="@Url.Action("Details","Location",new { id = item.Id, FriendlyUrl = item.FriendlyUrl })">
                        <div class="SM-content-item-in-article">
                            <div class="SM-c-i-in-a-img-box">
                                <div class="SM-c-i-in-a-img" style="background:url('@item.Avatar') no-repeat center; background-size:100%;"></div>
                            </div>
                            <div class="SM-c-i-in-a-text-box">
                                <span>
                                    @item.Title
                                </span>
                            </div>
                            <div class="SM-c-i-in-a-box-price">
                                <b><i class="fa fa-bullhorn"></i> @item.Price @item.UnitName</b>
                                <b><i class="fa fa-fort-awesome"></i> @item.DistrictName</b>
                            </div>
                        </div>
                    </a>
                }
            </div>
            <div class="SM-article-middle-left-content">
                <div class="nav-page-container">
                    @*<span>Trang 1 của 6 trang</span>*@
                    <ul>
                        <li>
                            <a href="#">Đầu tiên</a>
                        </li>
                        <li>
                            <a href="#">Lui</a>
                        </li>
                        <li>
                            <a href="#" class="active">[1]</a>
                        </li>
                        <li>
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#">4</a>
                        </li>
                        <li>
                            <a href="#">5</a>
                        </li>
                        <li>
                            <a href="#">6</a>
                        </li>
                        <li>
                            <a href="#">Tới</a>
                        </li>
                        <li>
                            <a href="#">Cuối cùng</a>
                        </li>
                    </ul>
                </div>
            </div>
        </article>
        <article class="SM-article-middle-left-middle">
            <div class="ST-a-l-title">
                <span>Sang quán cafes</span>
            </div>
            <div class="ST-a-l-arrow-down">
                <i class="fa fa-caret-down fa-2x"></i>
            </div>
            <div class="ST-a-l-menu-top-left">
                <ul>
                    <li>
                        <a href="#">
                            <em class="fa fa-caret-right"></em>
                            <span>Quận 1</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="SM-article-middle-left-middle-ads">
                <img src="~/Content/Images/qc1.png" />
            </div>
            <div class="SM-article-middle-left-middle-ads">
                <img src="~/Content/Images/qc2.png" />
            </div>
        </article>
        <article class="SM-article-middle-right">
            <a href="#">
                <div class="item-vip-top10">
                    <div class="item-vip-top10-box-img">
                        <div class="item-vip-top10-box-img-data" style="background:url('/Content/Images/item.jpg') no-repeat">
                        </div>
                    </div>
                    <div class="item-vip-top10-box-text">
                        <span>Cần sang nhà hàng ẩm thực Bắc - đường Tú Xương, trung tâm Quận 3</span>
                    </div>
                </div>
            </a>
        </article>
    </div>
</section>
<section class="container SF-container">
    <div class="row">
        <article class="SF-left">
            <div class="ST-a-l-title">
            </div>
            <div class="ST-a-l-arrow-down">
                <i class="fa fa-caret-down fa-2x"></i>
            </div>
            <div class="SF-content">
                <div class="SF-content-box-title">
                    <span>Tin Hot</span>
                </div>
                <ul class="ul-show-news-hot">
                    <li>
                        <div class="item-news-host-img">
                            <img src="~/Content/Images/item.jpg" alt="News-Hot" />
                        </div>
                        <div class="item-news-host-price">
                            <span>200 Triệu</span>
                        </div>
                        <div class="item-news-host-content">
                            <b>Sang gấp quán nhậu 79 trên đường Phạm Văn Đồng Quận Bình Thạnh</b>
                            <span>Sang quán nhậu - Q. Bình Thạnh - TP. HCM</span>
                        </div>
                    </li>
                </ul>
            </div>

            @* Tin Vip *@
            <div class="ST-a-l-title new-vip">
            </div>
            <div class="ST-a-l-arrow-down">
                <i class="fa fa-caret-down fa-2x"></i>
            </div>
            <div class="SF-content">
                <div class="SF-content-box-title">
                    <span>Tin Vip</span>
                </div>
                <ul class="ul-show-news-hot">
                    <li class="wrap-box-item-vip">
                        <div class="item-title-news-vip">
                            <a href="#">
                                <em class="fa fa-caret-right"></em>
                                Cần sang tiệm tóc nữ
                            </a>
                            <span>25 Triệu</span>
                        </div>
                        <div class="item-info-cate-news-vip">
                            <a href="#">Salon Beauty - Tiệm Tóc</a>
                            <span> - </span>
                            <a href="#">Quận 12 - TP. HCM</a>
                        </div>
                    </li>
                </ul>
            </div>
        </article>
        <article class="SF-Middle">
            <div class="SF-article-middle-left-middle-ads">
                <img src="/Content/Images/qc1.png">
            </div>
        </article>
        <article class="SF-right">
            <div class="ST-a-l-title">
                <span>Tìm kiếm nâng cao</span>
            </div>
            <div class="ST-a-l-arrow-down">
                <i class="fa fa-caret-down fa-2x"></i>
            </div>
            <div class="SF-wrap-func-form-search">
                <div class="SF-func-form-search">
                    <form id="home-form-search">
                        <div class="form-group">
                            <select>
                                <option>Tỉnh- Thành phố</option>
                            </select>
                            <select>
                                <option>Quận- Huyện</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="group-by">
                                <select>
                                    <option>Từ</option>
                                </select>
                                <select>
                                    <option>Đến</option>
                                </select>
                            </div>
                            <div class="group-by">
                                <span>
                                    <input type="radio" name="name" value="True" /> Triệu
                                </span>
                                <span>
                                    <input type="radio" name="name" value="False" /> Tỷ
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <select>
                                <option>Loại</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Tìm kiếm" />
                        </div>
                    </form>
                </div>
            </div>
            <div style="height:5px; width:100%;background:#FFF;"></div>
            <article class="ST-article-left" style="width:100%;">
                <div class="ST-a-l-title">
                    <span>Tìm kiếm sang quán nhanh</span>
                </div>
                <div class="ST-a-l-arrow-down">
                    <i class="fa fa-caret-down fa-2x"></i>
                </div>
                <div class="ST-a-l-menu-top-left">
                    <ul>
                        <li>
                            <a href="#">
                                <em class="fa fa-caret-right"></em>
                                <span>Sang quán cafe</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <em class="fa fa-caret-right"></em>
                                <span>Sang quán nhậu</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <em class="fa fa-caret-right"></em>
                                <span>Sang shop thời trang</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <em class="fa fa-caret-right"></em>
                                <span>Sang quán ăn - Nhà hàng</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <em class="fa fa-caret-right"></em>
                                <span>Sang quán bida</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <em class="fa fa-caret-right"></em>
                                <span>Sang nhượng Spa - thẩm mỹ viện</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <em class="fa fa-caret-right"></em>
                                <span>Sang nhượng studio - Áo Cưới</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <em class="fa fa-caret-right"></em>
                                <span>Sang tiệm tóc - Nails</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <em class="fa fa-caret-right"></em>
                                <span>Sang tiệm net</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <em class="fa fa-caret-right"></em>
                                <span>Sang quán bar - karaoke</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <em class="fa fa-caret-right"></em>
                                <span>Sang khách sạn</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <em class="fa fa-caret-right"></em>
                                <span>Sang trường mầm non</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <em class="fa fa-caret-right"></em>
                                <span>Sang tiệm tạp hóa</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <em class="fa fa-caret-right"></em>
                                <span>Sang tiệm thuốc tây</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <em class="fa fa-caret-right"></em>
                                <span>Sang tiệm giặt ủi</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <em class="fa fa-caret-right"></em>
                                <span>Sang nhượng CLB thể hình</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <em class="fa fa-caret-right"></em>
                                <span>Sang sạp - kios</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <em class="fa fa-caret-right"></em>
                                <span>Sang quán ++ +</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </article>
        </article>
    </div>
</section>